.boxmodel p,a{
    /* width: 20%; */
    width: 50%;
    margin: 20px;
    padding: 30px;
    border: 2px solid skyblue;
    display: flex;
    flex-direction: row;
}

 .dockflow p{
    width: 100%;
    background-color: skyblue;
    font-family: arial;
    line-height: 20px;

}


.blue{
    background-color: blue;
    float: right;
}
 
.red{
    background-color: red;
    float: left;
    margin: 10px;
}

.green{
    background-color: green;
}

.box{
    height: 100px;
    width: 100px;

}
.wrapper{
    content: "";
    display: block;
    clear: both;
}

.service h2, .service p{
    color:#999;
    margin: 10px 0;
    text-align: center;
}

.service{
    
    background-color: skyblue;
    width: 29.33%;
    margin:1%;
    padding: 1%;
    height: 140px;
    float: left;
}